**/__pycache__

data/.RData
data/.Rhistory
**/.ipynb_checkpoints

spline/models/**/*.*
!spline/models/**/*.stan

gaussian_process/models/**/*.*
!gaussian_process/models/**/*.stan

parametric/models/**/*.*
!parametric/models/**/*.stan
